body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.css */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* Two columns with a 1:3 ratio */
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header hello"
    "nav main"
    "footer footer";
  min-height: 100vh;
  /* Minimum height to cover the viewport */
}

.header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.nav {
  grid-area: nav;
  background-color: #444;
  color: #fff;
  padding: 10px;
}

.main {
  grid-area: main;
  background-color: #fff;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* ................................................................................... */

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}
.booking{
  width: 100%;
  height: 100%;
  background-color: #495E57;
}
.homePage {
  width: 100%;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

div {
  box-sizing: border-box;
}

.headerOfHomePg {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  /* background-color:#495E57;  */
  color: black;
  padding-left: 20%;
  padding-right: 20%;
}

.logoImgOfHomePg img {
  max-width: 150px;
  height: auto;
}

.navLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.navLinks li a {
  color: black;
  /* Set the text color to black */
  text-decoration: none;
  /* Remove the underline */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.articleOfMain {
  background-color: #495E57;
  height: 42%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
  padding-bottom: 2%;
  color: white;
  position: relative;
}

.title {
  color: #F4CE14;
  font-size: 36px;
}

.lines {
  width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding-top: 2%;
  font-size: 17px;
}

.reserveTableBtn {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #F4CE14;
  border-radius: 5px;
  border: none;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 17px;
  margin-top: 1em;
}

.mainImg {
  position: absolute;
  width: 23%;
  height: 20em;
  top: 15%;
  left: 57%;
  border-radius: 15px;
}

.mainImg img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.bodyPart {
  padding-top: 9.5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
}

.bodyTitleBar {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.bodyTitle {
  color: black;
  font-size: 36px;
}

.MenuCards {
  margin-top: 2em;
  height: 25em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  /* background-color: red; */
}

.card {
  height: 100%;
  border-radius: 13px;
  background-color: #edefee;
}

.card img {
  width: 100%;
  height: 40%;
  border-radius: 10px 10px 0px 0px;
}

.menuName-Price {
  height: 20%;
  display: grid;
  grid-template-columns: 3.9fr 1fr;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 8%;
  padding-bottom: 3%;
}

.price {
  color: #F4CE14;
  ;
}

.textOfMenu {
  height: 20%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.orderBtn {
  height: 18%;
  border: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 16px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.footer-content {
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.footer-logo img {
  width: 90px;
  height: 100px;
}

.footer-social ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-top: 13%;
}

/* /////////////////////////////////////////////BookingPg////////////////////////////////////////////////////////// */
.bookingPage {
  margin-left: 25%;
  margin-right: 25%;
  background-color: #edefee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100%;
}

.headerOfBookingPg {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 3.5fr 1fr;
  align-items: center;
  padding-top: 0.5%;
  height: 8;
}

.logoImgOfBookingPg img {
  width: 230px;
  height: 40px;
}

.mainBookingPg {
  width: 100%;
  height: 92%;
}

.mainPhoto {
  width: 100%;
  height: 35%;
  background-color: white;
  position: relative;
}

.mainPhoto img {
  width: 100%;
  height: 100%;
}
.userInputInMainBookingPg{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.h2Text{
position: absolute;
top: 18%;
left: 55%;
color: #495E57;
}
.addGuests{
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: white; */
  padding: 0.7em;
  /* border-radius: 10px; */
  /* border: 1px solid #495E57; */
}
.addOrRemove{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.selectDate{
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: white; */
  padding: 0.7em;
  /* border-radius: 10px; */
  /* border: 1px solid #495E57; */
}
.selectTime{
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.7em;
}
.selectTable{
  padding: 0.7em;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
height: 2em;
}
.circle {
  width: 42px;
  height: 42px; 
  background-color: #495E57; 
  border-radius: 50%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: #FFFFFF; 
  font-size: 24px; 
}
.tableNo{
  padding-top: 6%;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: repeat(3,auto);
  gap: 10px;
}
/* .footerOfBookingPg{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* ////////////////////////////////////////////////booking-form/////////////////////////////////////// */
.booking-form{
  width: 100%;
  height: 100%;
  padding-left: 30%;
  padding-right: 30%;
  background-color: #495E57;
}
.form{
  width: 100%;
  height: 65%;
  background-color: edefee;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 7%;
  padding-bottom: 10%;
  box-sizing: border-box;
  display: grid;
  gap:2em;
  grid-row: repeat(5,1fr);
}
.selectDateForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.selectTimeForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.selectOccasionForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.error {
  color: red;
  font-size: 14px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  height: 2em;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
height: 2em;
}
.submitBtn{
  height: 2em;
  padding: 0.3em;
  max-width: fit-content;
}
.centerSubmitBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.4em;
}